.logo{
    height: 70px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 100%;
        height: 550px;
    }
}
a{
    text-decoration: none!important;
}