<div class="container-fluid">
    <nav class="d-flex justify-content-end">
    <div class="logo">
        <p>Hello Plants</p>
        <img src="assets/logo.png" alt="">
    </div>
</nav>
    <div class="row">
        <div class="col-md-6 col-lg-5 forms">
            <div class="container">
<router-outlet></router-outlet>
        </div>
        </div>
        <div class="col-md-6 col-lg-7 atractive">
           
            <div class="banner">
            <a href="https://www.freepik.es/fotos-vectores-gratis/personas">
                <img src="assets/user/banner.jpg" alt=""></a>
            </div>        
        </div>
    </div>
</div>